@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/**using var will allow me to change the colors of all the elements of the page at once if the client changes his mind about the color, but I chose not to use it because it isn't yet accepted by the W3C validator...**/
:root {--blue:#0065FC;--gray:#F2F2F2}

*,*:before,*:after{box-sizing:border-box; margin:0; padding:0}

/**I want to apply this font-family to the whole document, that's why I put it in the body selector**/
body{font-family:'Raleway', sans-serif}

/**I use flex because it's responsive**/
.container1{display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap;}

/**styling the logo and register area**/
.logo{max-width:100px; height:auto; margin-top:20px; margin-left:30px}
.register{margin-top:20px; margin-right:30px}
.register a{color:var(--blue); text-decoration:none; font-weight:bold}

.flexNav{width:100%;margin-top:20px}
.flexUl{list-style:none; display:flex; justify-content:space-around}
.flexUl li{border-bottom:solid var(--gray) 2px; padding:10px; width:50%; text-align:center}
.flexUl li:first-child{color:var(--blue); border-bottom:solid var(--blue) 2px; padding:10px; width:50%; text-align:center}
.flexUl li a{color:inherit;text-decoration:none}


@media screen and (min-width:650px){
    .flexNav{width:40%; margin-left:auto}
    .flexUl{justify-content:flex-end; margin-right:30px}
    .flexUl li{border-bottom:none; align-items:center; padding:0; width:auto}
    .flexUl li:first-child{border-bottom:none; border-top:2px solid var(--blue); padding:0; width:auto; margin-right:30px}
    .register{order:1}
}

.headerH1{font-size:1.4em; margin:30px 50px 10px 15px;}
.headerH2{font-size:1em; font-weight:normal; margin-left:15px}

/**A FAIRE*/

/**trouver comment faire coller le border-top de hébergements au haut de page**/




/**Faire en sorte que l'utilisateur puisse cliquer dans le padding autour des liens de la nav ?**/