/**using var will allow me to change the colors of all the elements of the page at once if the client changes his mind about the color**/
:root {--blue:#0065FC}

*,*:before,*:after{box-sizing:border-box;margin:0;padding:0}

/**I want to apply this font-family to the whole document, that's why I put it in the body selector**/
body{font-family:'Raleway', sans-serif}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/**I use flex because it's responsive**/
.flexLogoRegister{display:flex;justify-content:space-between;align-items:center;padding:10px}

/**styling the logo and register area**/
.logo{max-width:100px;height:auto}
.register a{color:var(--blue),#0065FC;text-decoration:none;font-weight:bold}

.flexNav{list-style:none;display:flex;justify-content:space-around}
.flexNav li{border-bottom:solid black 2px;padding:10px;width:50%;text-align:center}
/**
.flexNav a{text-decoration:none;color:black;}
.flexNav a:active{color:var(--blue)}
.flex a:visited{color:black} **/

/**A FAIRE**/

/**relire la docu concernant les attributs qu'on peut donner au sélecteur 'a' : je veux que le lien qui est actif ait la couleur de la var et le trait en dessous aussi**/
/**Il faudra que l'utilisateur puisse cliquer dans toute la zone des liens hébergement et activités, c'est plus pratique**/